@media (min-width: 800px) {
    html {
        width: 100%;
        height: 100%;
    }
    body {
        padding: 0px;
        position: relative;
        overflow-x: hidden;
        font-family: "Montserrat", sans-serif;
        margin: 0px;
        height: 100%;
    }
    #contenido2 {
        display: none;
    }
    #contenido1 {
        height: 100%;
        width: 100%;
    }
    main {
        height: 80%;
    }
    #background {
        background: linear-gradient(#000000, #444444);
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
        float: left;
        height: 100%;
    }
    
    #imgFondo {
        float: right;
        height: 89.5%;
        position: absolute;
        left: 28.95%;
        top: -10%;
        z-index: 1;
    }
    #navi {
        position: absolute;
        color: white;
        z-index: 3;
        font-weight: bold;
        left: 6%;
        top: 5%;
        min-width: 600px;
        height: 8%;
        width: 55%;
    
    }
    #navi ul {
        padding-inline-start: 0px;
        height: 100%;
        width: 100%;
    }
    ul li {
        height: 20px;
        width: 24%;
        font-size: 20px;
        position: relative;
        display: inline-flex;
        z-index: 3;
    }
    ul li a {
        text-decoration: none;
        color: white;
    }
    #sevi {
        position: absolute;
        color: white;
        z-index: 3;
        font-weight: bold;
        left: 6%;
        top: 10%;
        height: 55%;
        width: 55%;
    }
    #sevi h1 {
        width:800px;
        font-size: 90px;
    }
    #sevi p {
        position: relative;
        top: -50px;
        left: 20px;
        font-weight: normal;
        width: 700px;
        line-height: 1.8;
        font-size: 18px;
    }
    
    #boton {
        position: relative;
        top: -20px;
        width: 300px;
        font-weight: normal;
        padding: 15px 0px;
        font-size: 25px;
        text-align: center;
        background-color:  #ff4606;
    }
    #sevi a {
        text-decoration: none;
        color: white;
    }
    
    footer {
        z-index: 2;
        clear: both;
        display: block;
        position: relative;
        background-color: white;
        top: -10%;
        width: 100%;
        height: 295px;
    }
    .divFooter {
        float: left;
        width: 33.33%;
        height: 100%;
        vertical-align: center;
    }
    .locklear-brand img {
        padding-top: 5px;
    }
    .divFooter h2 {
        margin: 40px 30px 30px 30px;
    }
    .divFooter p {
        margin: 30px;
    }
    
    #socials {
        display: inline-flex;
        justify-content: center;
        vertical-align: center;
        align-items: center;
        background-color: #d6d6d6;
    }
    
    #tour {
        background-color: #ffffff;
    }
    #tour h2 {
        font-weight: bolder;
    }
    
    #tour p {
        font-size: 18px;
        line-height: 1.8;
    }
    
    #tour a p {
        line-height: 1;
        color: #ff4606;
    }
    #tour a {
        text-decoration: none;
    }
    
    #views {
        color: white;
        background-color: #ff4606;
    }
    
    #views h2 {
        font-weight: bolder;
    }
    
    #views p {
        font-size: 18px;
        line-height: 1.8;
    }
}

@media (min-width: 800px) and (max-width:1150px) {
    .divFooter {
        float: left;
        width: 100%;
        height: 100%;
        vertical-align: center;
    }
}
@media (max-width: 799px) {
    #contenido2 {
        height: 100%;
        width: 100%;
        background: linear-gradient(to left, #000000, #444444);
        background-repeat: no-repeat;
    }
    #contenido1 {
        display: none;
    }
    html {
        height: 100%;
        width: 100%;
    }
    body {
        height: 100%;
        margin: 0px;
        font-family: "Montserrat", sans-serif;
        width: 100%;
    }
    main {
        height: 100%;
        width: 100%;
    }
    a {
        text-decoration: none;
        color: white;
    }
      .dropdown {
        height: 25%;
        width: 50px;
        position: relative;
        left: 7%;
        top: 30px;
        display: inline-block;
      }
      
      .dropdown-content {
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
        margin-block-start: 0px;
        margin-block-end: 0px;
        padding-inline-start: 0px;
        background-color: #f1f1f1;
        min-width: 160px;
        list-style: none;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content li a {
        z-index: 2;
          padding: 10px;
          text-align: center;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      .dropdown-content li {
        z-index: 2;
      }
      
      .dropdown-content a:hover {background-color: #ddd;}
      
      .dropdown:hover .dropdown-content {visibility: visible;
        opacity: 1;}
    
    .sociales {
        position: relative;
        width: 40%;
        height: 5%;
        right: 10%;
        top: 35px;
        float: right;
    }
    .sociales img{
        float: right;
        margin: 0px 10px;
    }
    .text {
        position :relative;
        width: 100%;
        height: 30%;
        top: -120px;
        
    }
    .text h1 {
        z-index: 0;
        font-size: 55px;
        margin-left: 5%;
        color: white;
    }
    .text p:first-of-type {
        position :relative;
        font-size: 16px;
        margin-left: 5%;
        line-height: 1.8;
        width: 70%;
        color: white;
    } 
    .text p:nth-of-type(2) a {
        position :relative;
        top: 10px;
        margin-left: 5%;
        font-size: 18px;
        color: orangered;
    }
    #imgFondo {
        position: relative;
        top: 15px;
        width: 100%;
    }
    #boton {
        position: relative;
        margin: auto;
        top: -10px;
        font-weight: normal;
        width: 50%;
        padding: 15px 0px;
        font-size: 25px;
        text-align: center;
        background-color:  #ff4606;
    }
}